<link href="/assets/style.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/assets/base.css" rel="stylesheet" type="text/css" media="screen" />


<h1>New kar</h1>

<%= render 'form' %>

<%= link_to 'Back', kars_path %>
